@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f553;
}

.container {
    /* border: 2px solid pink; */
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
    width: 100%;
    border-radius: 0.3rem;
    background-color: rgba(119, 136, 153, 0.413);
}

/* parent content container */
.content {
    /* border: 2px solid black; */
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.content a {
    color: rgb(12, 114, 154);
    font-size: 1.1rem;
}

.content h1,
h2,
h3 {
    margin: 0.8rem 0 0.4rem 0;
}


/* main content */
.mainContent {
    /* border: 3px solid purple; */
    flex-basis: 65%;
    margin-right: 1rem;
}

.mainContent #date {
    color: #333333d4;
    margin-bottom: 1rem;
}

.mainContent hr {
    margin: 1rem 0;
    height: 0.1rem;
    background-color: #3333330e;
}

.mainContent .borderPara {
    border: 1px solid black;
    padding: 0.3rem 0;
    margin: 1rem 0;
}

.mainContent ul,
.mainContent ol {
    /* list-style-type: none; */
    padding: 0.6rem 3rem;
}

/* buttons */
.btn {
    margin: 3rem 0;
}

.btn a {
    border: 2px solid steelblue;
    background-color: white;
    padding: 0.5rem 0.8rem;
    text-decoration: none;
    border-radius: 2rem;
    margin-right: 0.3rem;
}

.btn a:hover {
    color: white;
    background-color: steelblue;
    transition: all 0.4s ease;
}


/* aside content */
.asideContent {
    flex-basis: 26%;
    /* border: 2px solid red; */
    padding: 1rem;
}

.asideContent .about {
    background-color: rgba(176, 224, 230, 0.358);
    padding: 1rem;
    margin-bottom: 3rem;
}

.archives {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 3rem;
    padding-left: 0.6rem;
}

.elseWhere {
    padding-left: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 3rem;
}

.archives a,
.elseWhere a {
    font-size: 1rem;
}

/* media queries */
@media(max-width:700px){
    .content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }

    .archives>a{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }
  
}